@page
@model FizzBuzzWeb.Pages.Results.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     
        @if (Model.FizzBuzz.Count > 10)
        {
            @for (int i = Model.FizzBuzz.Count-1; i > Model.FizzBuzz.Count-11; i--)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FizzBuzz[i].value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FizzBuzz[i].result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FizzBuzz[i].time)
                    </td>
                    <td>
                       @*<a asp-page="./Edit" asp-route-id="@Model.FizzBuzz[i].id">Edit</a> |*@
                        <a asp-page="./Details" asp-route-id="@Model.FizzBuzz[i].id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@Model.FizzBuzz[i].id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            @for(int i = Model.FizzBuzz.Count-1; i>0; i--)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FizzBuzz[i].value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FizzBuzz[i].result)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FizzBuzz[i].time)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@Model.FizzBuzz[i].id">Edit</a> |*@
                        <a asp-page="./Details" asp-route-id="@Model.FizzBuzz[i].id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@Model.FizzBuzz[i].id">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
</table>
