@page
@model FizzBuzzWeb.Pages.Results.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.FizzBuzz)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.result)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }

        </tbody>
</table>
